<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <head>
    <meta charset="UTF-8" />
    <title>about</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body class="container">
    <div class="">
      <h1 class="">Tekken Reborn 3</h1>
      <img
        class="img-fluid rounded mx-auto d-block"
        th:src="@{images/tekken-reborn.jpg}"
        alt="Tekken Reborn"
      />
      <div class="text-center">
        <span> retrieved photo from: </span>
        <a
          class=""
          href="
                https://www.wallpaperflare.com/search?wallpaper=tekken
            "
          >wallpaper flare
        </a>
      </div>
      <p class="">
        <span class="fw-bold">About: </span>
        Tekken 3 (鉄拳3) is a fighting game, the third entry in the Tekken
        series. It was released to the arcades in 1997, before being ported to
        the PlayStation in 1998. The arcade version of the game was released in
        2005 for the PlayStation 2 as part of Tekken 5's Arcade History mode.
        The game was also re-released as part of Sony's PlayStation Classics.
        <br />
        <span class="fw-bold">Features: </span>
        Tekken 3 features a largely new cast of characters, including the debut
        of several now-staple characters such as Jin Kazama, Ling Xiaoyu, Bryan
        Fury, Eddy Gordo, and Hwoarang, with a total of twenty-three characters.
        The home version includes a new beat 'em up mode called Tekken Force,
        and the bonus Tekken Ball mode.
        <br />
        <span class="fw-bold">Copies sold: </span>
        The game was a major hit for both arcades and consoles, selling 35,000
        arcade units and more than 8 million PlayStation copies worldwide,
        making Tekken 3 the fifth best-selling PlayStation game. Since its
        release, Tekken 3 has been cited as one of the greatest video games of
        all time. It was followed by Tekken Tag Tournament, a non-canon
        installment in 1999. The direct sequel, Tekken 4, was released in 2001
      </p>
      <p class="">
        since this game is obsolete, the community decided to add new features!
        download at:
        <a
          class=""
          href="
                    https://tekkenmods.com/mod/830/tekken-3-reborn
                "
        >
          Tekken Reborn 3
        </a>
      </p>
      <h1 class="">Main features:</h1>
      <p class="">
        Tekken 3 console music included, Ogre's Temple and Ogre's Temple music
        (Stage also replaces warmup stage), Custom splash image, Custom startup
        logo screens, Replaced T7 intro with Tekken 3 intro, Tekken 3 style
        character select, Tekken 3 style side select, Tekken 3 style stage
        select, Tekken 3 announcer, Tekken 3 loading and saving icon, Tekken 3
        style main menu and online menus, Tekken 3 style versus screen, Complete
        in game hud overhaul with lifebars etc.
      </p>
      <br />
      <p class="">
        all images retrievd from:
        <a class="" href="https://tekkenmods.com/mod/830/tekken-3-reborn"
          >tekkenmods</a
        >
      </p>
      <div class="mb-3 d-flex flex-row">
        <img
          width="300px"
          class="img-fluid rounded d-block p-2"
          th:src="@{images/char-select.png}"
          alt="character select"
        />
        <img
          width="300px"
          class="img-fluid rounded d-block p-2"
          th:src="@{images/stage-select.png}"
          alt="stage select"
        />
        <img
          width="300px"
          class="img-fluid rounded d-block p-2"
          th:src="@{images/versus-screen.png}"
          alt="verse screen"
        />
        <img
          width="300px"
          th:src="@{images/hud.jpeg}"
          class="img-fluid rounded d-block p-2"
          alt="hud screen"
        />
      </div>
    </div>
  </body>
</html>
